<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>login</h1>
  <div>{{data}}</div>
<!--<p><img src="http://www.sportsonearth.com/assets/images/4/6/4/102931464/cuts/459627262_y6h86vwc_t0sq3497.jpg", alt="james-harden-nba-houston-rockets-minnesota-timberwolves1-850x560.jpg", style="width:304px;height:228px"></p>
-->
<!--  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
-->

<!--<p><a href="/another">Go to the other page</a></p>
-->
<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

<form method="POST" action="/login?name={{dict.name}}">
<p>username: <input type="text" name="username"> 
password: <input type="password" name="password">
<input type="submit" value="Login"></p>
</form>

<p><a href = "/register?{{dict.name}}">Register</a></p>
<br>
<p><a href = "/">Back to main page</a></p>

</body>


</html>
